/* layout geral */
.home {
  font-family: Arial, sans-serif;
  background: #f4f6f5;
  min-height: 100vh;
}

/* header */
.header {
  background: #A3B18A;
  color: white;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  margin: 0;
}

.header span {
  font-size: 14px;
}

/* dashboard */
.dashboard {
  padding: 40px;
}

.dashboard h1 {
  margin-bottom: 20px;
}

/* cards */
.cards {
  display: flex;
  gap: 20px;
}

/* card */
.card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  width: 250px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  transition: 0.3s;
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  color: #555;
  cursor: pointer
}

/* hover */
.clickable {
  cursor: pointer;
}

.clickable:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.news {
  margin-top: 30px;
}

.news-card {
  background: #fff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.card {
  cursor: pointer
}