body {
  margin: 0;
  font-family: Arial, sans-serif;
}

input, button {
  width: 100%;
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1e1e2f;
}

.login-box {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-box input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-box button {
  padding: 10px;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-box button:hover {
  background: #45a049;
}

.erro {
  color: red;
  font-size: 14px;
}